<div class="container">
  <div class="d-flex justify-content-center" *ngIf="showLoading">
    <div class="spinner-border text-primary p-3" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
  <div class="row" *ngIf="restaurant">
    <div class="col-6">
      <table class="table table-striped table-dark">
        <thead>
        <th id="th" class="text-center bg-primary" colspan="2" scope="col"><h3>{{restaurant.name}}</h3></th>
        </thead>
        <tbody>
        <tr>
          <th scope="row" colspan="2"><img src=".\assets\restaurants\{{restaurant.image}}.png" alt="" width="100%"></th>
        </tr>
        <tr>
          <th scope="row">Type keuken</th>
          <td>{{restaurant.type}}</td>
        </tr>
        <tr>
          <th scope="row">Maximale capaciteit</th>
          <td>{{restaurant.maxCapacity}}</td>
        </tr>
        <tr>
          <th scope="row">Adres</th>
          <td>{{restaurant.address.street}} {{restaurant.address.bus}},
            <br>{{restaurant.address.zipcode}} {{restaurant.address.city}}</td>
        </tr>
        <tr>
          <th scope="row">Parking</th>
          <td *ngIf="restaurant.parking">Beschikbaar</td>
          <td *ngIf="!restaurant.parking">Niet beschikbaar</td>
        </tr>
        <tr style="color: green;">
          <th scope="row">Rating ☆</th>
          <td>{{averageRating.toFixed(2)}}/5</td>
        </tr>
        </tbody>
      </table>
    </div>
    <div id="about" class="col-6 bg-dark">
      <div class="row">
        <h3><u>Over ons</u></h3>
      </div>
      <div id="feedback" class="row">
        {{restaurant.description}}
      </div>
      <div class="row">
        <div class="btn btn-primary" (click)="goToMenu(restaurant)">MENU / TAKE_AWAY</div>
      </div>
      <div class="row">
        <div class="btn btn-primary" onclick="window.location.href='/reservaties'">RESERVEREN</div>
      </div>
      <div class="row">
        <div class="btn btn-primary" (click)="onSelect(restaurant)">BEOORDELEN</div>
      </div>
    </div>
  </div>
<!--  <div *ngIf="feedbacks">

    <div class="row">
      {{averageRating.toFixed(2)}}
    </div>
    <div class="row" *ngFor="let feedback of feedbacks">
      <p> test </p>
      {{feedback.review}}-->
  <div class="container" *ngIf="feedbacks">
    <div id="review" class="bg-dark" *ngFor="let feedback of feedbacks.slice().reverse()">
      <div class="row">
        <div class="col-2">
          <b>Rating: ☆ {{feedback.rating}}/5</b>
        </div>
      </div>
      <div id="feedback" class="row">
        {{feedback.review}}
      </div>
    </div>
  </div>
</div>
