.container {
    margin: 1% auto;
}

.row {
    margin: 1%;
}

.table {
    border-radius: 6px;
}

#th {
    border-top-left-radius: 6px; 
    border-top-right-radius: 6px;
}

#about {
    border-radius: 6px; 
    margin-bottom: 1.46%; 
    padding: 1%; 
    color: white;
}

#review {
    padding: 1em;
    color: white;
    border-radius: 6px;
    margin: 1%;
}

#feedback {
    padding: 1em;
    color: white;
    border-radius: 6px;
    margin: 1%;
    background-color: rgb(62, 68, 74);
}

.btn {
    width: 100%;
}