<!--** @author Frederik Collignon **-->
<div>
  <div class= "m-5">
    <div class="container background">
      <h1 class="display-4 py-4 text-center">Account credits</h1>
      <div>
        <div class="card border-1">
          <div class="card-body">
            <div class="row">
              <div class="col">
                <h5 class="card-title mb-4">{{userName}}</h5>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col">
                <p>Huidige credits: {{credits.toFixed(2)}}</p>
                <p>In euro: € {{(credits*10).toFixed(2)}}</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col">
                <button type="button" class="btn btn-primary my-3" data-toggle="modal" data-target="#exampleModalCenter">
                  Credits toevoegen
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- MODAL -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
     aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Credits toevoegen</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form #addForm="ngForm" (ngSubmit)="processForm(addForm)">
      <div class="modal-body">
        <h4>Hoeveel credits wenst u toe te voegen?</h4>
        <p>1 credit = 10 euro</p>
        <!-- <p style="color: red">let op: als u een negatieve waarde invult word deze automatisch omgezet naar een positeve</p> -->
        <input type="text" onkeypress="return (event.charCode === 69 ? null : event.charCode >= 48 && event.charCode <= 57)" [(ngModel)]="this.addition" name="addition"><br>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Sluiten</button>
        <button type="submit" class="btn btn-primary">Bevestigen</button>
      </div>
      </form>
    </div>
  </div>
</div>
