<!-- author: Pelin Yuzbasioglu -->
<footer class="page-footer font-small bg-light mt-0">
  <!-- Footer Links -->
  <div class="container text-center text-md-left">
    <!-- Footer links -->
    <div class="row text-center text-md-left mt-0 pb-3">
      <!-- Grid column -->
      <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
        <h6 class="text-uppercase mb-4 font-weight-bold">Team A(ngular)</h6>
        <p>Volg de <a href="#">link</a> om ons team te leren kennen</p>
      </div>
      <!-- Grid column -->
      <hr class="w-100 clearfix d-md-none">
      <!-- Grid column -->
      <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
        <h6 class="text-uppercase mb-4 font-weight-bold">Useful links</h6>
        <p>
          <a [routerLink]="['under-construction']">Servicevoorwaarden</a>
        </p>
        <p>
          <a [routerLink]="['under-construction']">Privacy</a>
        </p>
        <p>
          <a [routerLink]="['under-construction']">Jobs</a>
        </p>
        <p>
          <a [routerLink]="['under-construction']">Help</a>
        </p>
      </div>
      <!-- Grid column -->
      <hr class="w-100 clearfix d-md-none">
      <!-- Grid column -->
      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
        <h6 class="text-uppercase mb-4 font-weight-bold">Contact</h6>
        <p>3000 Leuven, België</p>
        <p>bistra.mailing@gmail.com</p>
        <p>+31 (0) 234 56 78</p>
      </div>
      <!-- Grid column -->
    </div>
    <!-- Footer links -->
    <hr>
    <!-- Grid row -->
    <div class="row d-flex align-items-center">
      <!-- Grid column -->
      <div class="col-md-7 col-lg-8">
        <!--Copyright-->
        <p class="text-center text-md-left">© 2020 Copyright:
          <a href="#">
            <strong> Bistra.com</strong>
          </a>
        </p>
      </div>
      <!-- Grid column -->
      <!-- Grid column -->
      <div class="col-md-5 col-lg-4 ml-lg-0">
        <!-- Social media -->
        <div class="text-center text-md-right">
          <ul class="list-unstyled list-inline">
            <li class="list-inline-item">
              <span class="rgba-white-slight mx-1">Volg ons:
              </span>
            </li>
            <li class="list-inline-item">
              <a class="btn-floating btn-sm mx-1">
                LinkedIn
              </a>
            </li>
            <li class="list-inline-item">
              <a class="btn-floating btn-sm mx-1">
                Facebook
              </a>
            </li>
            <li class="list-inline-item">
              <a class="btn-floating btn-sm mx-1">
                Twitter
              </a>
            </li>
          </ul>
        </div>
      </div>
      <!-- Grid column -->
    </div>
    <!-- Grid row -->
  </div>
  <!-- Footer Links -->
</footer>
<!-- Footer -->
