<div class="grid grid-pad">
  <div *ngIf="!restaurants" class="spinner-border text-primary" role="status">
    <span class="sr-only">Loading...</span>
  </div>
  <a *ngFor="let restaurant of restaurants" class="col-1-4" (click)="updateRestaurant(restaurant)">
    <div *ngIf="restaurants" class="module">
      {{restaurant.name}}
    </div>
  </a>
</div>
