<!--** @author Bregt Pompen, Pelin Yuzbasioglu **-->
<div class="bg-light">
  <div class="container background">
    <h1 class="display-4 py-5 text-center">Accountgegevens</h1>
    <div class="">
      <div class="card border-1">
        <div class="card-body">
          <h5 class="card-title text-center lead mb-4">Gebruiker: {{userName}}</h5>
          <ul class="list-unstyled">
            <li>
              <bi class="icon-card m-1" name="arrow-right"></bi> <!-- name -->
              Familienaam : {{lastName}}
            </li>
            <li>
              <bi class="icon-card m-1" name="arrow-right"></bi>
              Naam : {{firstName}}
            </li>
            <li>
              <bi class="icon-card m-1" name="mailbox"></bi>
              Email : {{email}}
            </li>
            <li>
              <bi class="icon-card m-1" name="calendar-day"></bi>
              Laatste aanmelding : {{lastLogin}}
            </li>
            <li>
              <bi class="icon-card m-1" name="circle" *ngIf="isActive"></bi>
              <bi class="icon-card m-1" name="circle-fill" *ngIf="!isActive"></bi>
              Status : {{isActiveToString()}}
            </li>
            <li>
              <bi class="icon-card m-1" name="eye"></bi>
              Role : {{roleToString()}}
            </li>
            <li *ngIf="hasRoleButton()">
              <bi class="icon-card m-1" name="briefcase"></bi>
              Jouw zaken:
            </li>
          </ul>
        </div>
        <div class="mx-4" *ngIf="hasRoleButton()">
          <app-restaurant-dashboard></app-restaurant-dashboard>
        </div>
        <div class="text-center" *ngIf="hasRoleButton()">
          <a class="btn btn-primary btn-lg btn-sm" href="http://localhost:4200/restaurant/add" role="button">Restaurant
            toevoegen</a>
        </div>
        <div class="m-2"></div>
      </div>
    </div>
  </div>
</div>



