<div class="container mx-auto text-center">
  <div class="col-12 text-center mt-5 py-5">
    <img src="assets/logo/500.jpg" alt="">
  </div>
  <h2 class="text-center mt-5 pt-5">Er is een probleem in de keuken!</h2>
  <a routerLink="" class="btn btn-primary my-5">Ga terug</a>
</div>
