<!-- @author Kenny Maes, Jens Lauwers, Pelin Yuzbasioglu -->
<div class="container-fluid">
  <div class="box">
      <div class="innerBox">
        <form #logForm="ngForm" (ngSubmit)="processForm(logForm)">
          <div *ngIf="loginFail" class="alert alert-danger" role="alert">
            {{ message }}
          </div>
          <div class="form-group">
            <input type="username" placeholder="Gebruikersnaam" class="form-control" id="exampleInputUsername1" aria-describedby="emailHelp" [(ngModel)]="user.username" name="username">
          </div>
         <div class="form-group">
             <input type="password" placeholder="Password" class="form-control" id="exampleInputPassword1" [(ngModel)]="user.password" name="password">
           </div>
           <button *ngIf="!showLoading" type="submit" class="btn btn-primary">Login</button>
           <button *ngIf="showLoading" class="btn btn-primary" type="button" disabled>
           <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
         Inloggen...
       </button>
       </form>
       <a [routerLink]="'/registration'">Heb je nog geen account?</a>
      </div>
  </div>
</div>
