// BASE
.container-fluid {
    background-image: url('../../../assets/backgrounds/login_bg.png');
    height: 80vh;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center bottom;
    position: relative;
}
// ============================

// BOX AROUND THE LOGIN FORM
.box {
    // Size
    width: 410px;
    height: 300px;
    
    // Color
    background-color: rgba($color: #000000, $alpha: 0.4);
    
    // Position
    top: 50%;
    left: 50%;
    position: absolute; 
    transform: translate(-50%, -50%);

    // Alignment
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    
    // Base tags
    input {
        width: 300px;
        height: 45px;
        border-radius: 10px;
        background-color: white;
        text-align: center;
        font-size: large;
    }

    button {
        width: 300px;
        height: 45px;
        border-radius: 10px;
        border: 0;
        background-image: linear-gradient(to top left, #3023AE 0%, #C86DD7 100%);
    }

    a {
        color: white;
    }

    // Inner classes
    .innerBox {
        width: 300px;
        position: absolute;
    }
}