<div class="container mx-auto text-center">
        <div class="col-12 text-center mt-5 py-5">
            <img src="assets/logo/404.png" alt="">
        </div>
    <h2 class="text-center mt-5 pt-5">Hier is geen eten te vinden</h2>
    <a routerLink="" class="btn btn-primary my-5">Ga terug</a>
</div>
