<div class="container mx-auto text-center">
  <div class="col-12 text-center mt-5">
    <img src="assets/logo/underconstruction.png" alt="">
  </div>
  <h1 class="text-center mt-5">Under Construction</h1>
  <h3 class="text-center mt-5 lead">Hier is de chef nog aan het koken!</h3>
  <a routerLink="" class="btn btn-primary mt-3 mb-5">Ga terug</a>
</div>
