<div class="container">
  <div class="row">
    <!-- LEFT COL -->
    <div class="col-md-12 col-lg-4 info-col">
      <div class="my-5 px-5">
        <form #menuForm="ngForm" (ngSubmit)="addDish(menuForm)">
          <!-- FOOD IMAGE -->
          <div class="row justify-content-center align-items-center">
            <img class="food-image mb-5" src="assets/logo/food_logo.png" alt="">
            <div class="form-row col-10 text-center p-0">
              <div class="col-12 mb-3">
                <input type="text" placeholder="Naam Gerecht" class="form-control" id="validationCustom01" [(ngModel)]="dish.name"
                       name="name"
                       #gerechtName="ngModel" required minlength="4"/>
                <div *ngIf="gerechtName.invalid && (gerechtName.dirty || gerechtName.touched)"
                     class="alert alert-danger">
                  <div *ngIf="gerechtName.errors.required">
                    verplicht!
                  </div>
                  <div *ngIf="gerechtName.errors.minlength">
                    minste 4 letters bevatten!
                  </div>
                </div>
              </div>
            </div>
            <div class="form-row col-10 text-center p-0">
              <div class="col-12 mb-3">
                <select class="custom-select mr-1" id="inlineFormCustomSelectPref"
                        [(ngModel)]="dish.dishType"
                        name="dishType">
                  <option *ngFor="let item of keys(dishTypes)" [ngValue]="item">
                    {{ dishTypes[item] }}
                  </option>
                </select>
              </div>
            </div>
            <div class="form-row col-10 text-center p-0">
              <div class="col-12 mb-3">
                <input id="dishPrice" placeholder="Prijs" type="number" class="form-control" [(ngModel)]="dish.price"
                       name="dishPrice" onkeypress="return (event.charCode == 69 ? null : event.charCode >= 48 && event.charCode <= 57 || onkeypress('.'))"
                       #price="ngModel" required min="1"/>
                <div *ngIf="price.invalid && (price.dirty || price.touched)" class="alert alert-danger">
                  <div *ngIf="price.errors.required">
                    verplicht!
                  </div>
                </div>
              </div>
            </div>
          </div>
          <h3>Bijkomende info</h3>
          <div class="row col-12">
            <div class="form-check col-12">
              <input class="form-check-input" type="checkbox" [(ngModel)]="dish.vegetarian"
                     name="disVegetarian"
                     #isVegetarian="ngModel" value=""/>
              <label>is vegetarisch?</label>
            </div>
            <div class="form-check col-12">
              <input class="form-check-input" type="checkbox" [(ngModel)]="dish.vegan" name="isVegan"
                     #isVegan="ngModel" value=""/>
              <label>is veganistisch?</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" [(ngModel)]="dish.containsNuts"
                     name="containsNuts"
                     #containsNuts="ngModel" value=""/>
              <label>bevat noten?</label>
            </div>
          </div>
          <button *ngIf="!showLoading" type="submit" class="btn btn-primary" [disabled]="!menuForm.valid || dish.dishType === undefined">
            Toevoegen
          </button>
          <button *ngIf="showLoading" class="btn btn-primary" type="button" disabled>
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            Gerecht toevoegen!
          </button>
        </form>
      </div>
    </div>
    <!-- RIGHT COL -->
    <div class="col-md-12 col-lg-6 registration text-center p-0">
      <div *ngIf="showIsRemoved" class="alert alert-success" role="alert">
        {{ message }}
      </div>
      <div *ngIf="showError" class="alert alert-danger" role="alert">
        {{ message }}
      </div>
      <h2 class= "py-5 text-white">Voeg gerechten toe aan je menu</h2>
      <table class="table table-sm mb-5">
        <thead class="thead-primary">
        <tr>
          <th>Naam</th>
          <th>Prijs</th>
          <th>Type</th>
          <th class="text-center">Opties</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of dishes; let i = index">
          <td>{{ item.name }}</td>
          <td>{{ item.price }}</td>
          <td>{{ dishTypes[item.dishType] }}</td>
          <td class="text-center">
            <button type="button" class="btn btn-sm mr-1" (click)="onUpdateDish(item)" data-toggle="modal"
                    data-target="#exampleModalCenter"><img src="assets/icons/pencil_icon.png" alt=""></button>
            <button class="btn btn-sm ml-1" (click)="setToBeRemoved(item)" data-toggle="modal" data-target="#confirmModal"><img src="assets/icons/delete_icon.png" alt=""></button>
          </td>
        </tr>
        </tbody>
      </table>
      <img [hidden]="!isListLoading" class="burger-loader" src="assets/icons/hamburger_icon.png" alt="">
    </div>
  </div>
</div>

<!-- DISHES MODAL -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalCenterTitle"
     aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Gerecht aanpassen</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #editForm="ngForm">
          <div class="form-group">
            <input type="text" placeholder="Naam" name="dishName" required [(ngModel)]="editDish.name" class="form-control">
          </div>
          <div class="form-group">
            <label class="my-1 mr-2" for="inlineFormCustomSelectPref5">Type gerecht</label>
            <select class="custom-select mr-sm-2" id="inlineFormCustomSelectPref5"
                    [(ngModel)]="editDish.dishType"
                    name="dishType">
              <option *ngFor="let item of keys(dishTypes)" [ngValue]="item">
                {{ dishTypes[item] }}
              </option>
            </select>
          </div>
          <div class="form-group">
            <label for="dishPrice">Prijs</label>
            <input type="text" onkeypress="return (event.charCode == 69 ? null : event.charCode >= 48 && event.charCode <= 57 || onkeypress('.'))" name="dishPrice" required [(ngModel)]="editDish.price" class="form-control">
          </div>
          <div class="form-group">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" [(ngModel)]="editDish.vegetarian"
                     name="disVegetarian"
                     #isVegetarian="ngModel" value=""/>
              <label>is vegetarisch?</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" [(ngModel)]="editDish.vegan" name="isVegan"
                     #isVegan="ngModel" value=""/>
              <label>is veganistisch?</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" [(ngModel)]="editDish.containsNuts"
                     name="containsNuts"
                     #containsNuts="ngModel" value=""/>
              <label>bevat noten?</label>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Sluiten</button>
        <button type="button" class="btn purple-btn" data-dismiss="modal" (click)="saveUpdate()">Opslaan
        </button>
      </div>
    </div>
  </div>
</div>
<!-- END DISHES MODAL -->
<!-- CONFIRM MODAL -->
<div class="modal fade" id="confirmModal" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalCenterTitle2" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="confirmTitle">Verwijderen ?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Bent u zeker dat u <b>{{ dishToRemove.name }}</b> wil verwijderen ? </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger mr-1" data-dismiss="modal">Annuleren</button>
        <button type="button" class="btn purple-btn ml-1" data-dismiss="modal" (click)="removeDish()">Verwijderen
        </button>
      </div>
    </div>
  </div>
</div>
