.login-btn {
    border: 0;
    width: 100px;
    background-image: linear-gradient(to top left, #3023AE 0%, #C86DD7 100%);
    
    a {
        color: white;
    }
}

.logout-btn {
    border: 0;
    width: 100px;
    color: white;
    background-image: linear-gradient(to bottom, #ec5151 0%, #932121 100%);
}

.gradient-nav {
    background-image: linear-gradient(to bottom, #1D68A1 0%, #19274B 100%);
}