<!-- author: Kenny Maes, Bregt Pompen, Pelin Yuzbasioglu -->
<nav class="navbar navbar-expand-lg navbar-dark gradient-nav">
  <a class="navbar-brand" href="#">Bistra</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="http://localhost:4200/overview-restaurants">Onze restauranten <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/adverts">Advertenties <span class="sr-only">(current)</span></a>
      </li>
    </ul>
    <button *ngIf="!isLoggedIn" class="btn my-2 my-sm-0 login-btn" type="button">
      <a href="http://localhost:4200/login">Login</a></button>
    <a class="mr-3 text-white" *ngIf="isLoggedIn" routerLink="/account/details" routerLinkActive="active"> Welkom {{ username }} </a>
    <a class="mr-3 text-white" *ngIf="isLoggedIn" routerLink="/account/credits" routerLinkActive="active"> Credits </a>
    <button *ngIf="isLoggedIn" class="btn logout-btn my-2 my-sm-0" (click)="logout()" type="button">Afmelden</button>
  </div>
</nav>
