// BASE
.container-fluid {
  min-height: 1050px;
  background-image: linear-gradient(to bottom right, #3829C4 0%, #8DF6F4 100%);
}

#around {
  background-color: #5F9EA0;
  padding-inline: 100px;
  border-radius: 25px;
  border-width: thick;
  background: -webkit-linear-gradient(lightblue, #C86DD7);
  background: -moz-linear-gradient(#3023AE, #C86DD7);
  background: linear-gradient(#3023AE, #C86DD7);
}
// ROWS
.row {
  padding : 100px;
}

