<div class="aligned text-center container-fluid">
  <h2 class="text-center ">Nieuwe Bestelling</h2>
  <form id="orderForm">
    <div id="around">
    <div class="row" >
      <div class="col-3">
        <h5><u>Gerechten</u></h5>
        <div *ngFor="let dish of dishes">
          <h5 style="color: #8DF6F4">{{dish.name}}</h5>
          <h6>{{ dishTypes[dish.dishType]}} </h6>
          <p style="color: yellow">€{{dish.price}}</p>
          <label *ngIf="dish.containsNuts" style="color: orangered">** BEVAT NOTEN **</label>
          <label *ngIf="dish.vegetarian" style="color: lightgreen"> Vegitarisch **</label>
          <label *ngIf="dish.vegan" style="color: lightgreen"> Vegan **</label>
          <br/>
          <label>
            <select class="custom-select mr-sm-2" #selectAmount>
              <option *ngFor="let item of arrayOne(20); let i = index" [ngValue]="item">
                {{i + 1}}
              </option>
            </select>
          </label>
          <label>
            <button type="button" class="btn mr-1" style="background-color: snow"
                    (click)="onOrderItemCreate(selectAmount.value, dish , null)">toevoegen
            </button>
          </label>
        </div>
      </div>
      <div class="col-3">
        <h5><u>Dranken</u></h5>
        <div *ngFor="let drink of drinks">
          <h5 style="color: #8DF6F4; position: center">{{drink.name}}</h5>
          <h6>{{ drinkTypes[drink.type]}}</h6>
          <p style="color: yellow">€{{drink.price}}</p>
          <br/>
          <label>
            <select class="custom-select mr-sm-2 w-100" #selectAmount2>
              <option *ngFor="let item of arrayOne(20); let i = index" [ngValue]="item">
                {{i + 1}}
              </option>
            </select>
          </label>
          <label>
            <button type="button" class="btn mr-1" style="background-color: snow"
                    (click)="onOrderItemCreate(selectAmount2.value, null , drink)">
              toevoegen
            </button>
          </label>
        </div>
      </div>

      <div class="col-6">
        <h3>Geselecteerde items:</h3>
        <div *ngFor="let orderItem of orderItemList" style="margin-bottom: 5px; background-color: white; border-radius: 50px">
          <label *ngIf="orderItem.drink !== undefined; else printDish">
            Drank : {{orderItem.drink.name}} **
          </label>
          <ng-template #printDish>
            <label>
              Gerecht : {{orderItem.dish.name}} **
            </label>
          </ng-template>
          aantal : {{orderItem.amount}} **
          Prijs toegevoegde items: €{{orderItem.price}}
          <button class="btn mr-1" style="background-color: lightcoral" (click)="onDelete(orderItem.id)">delete</button>
        </div>
        <h5>Huidig Totaal : €{{totalAmount}}</h5>
        <label>
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#confirmationModal">
            Bevestigen
          </button>
        </label>
      </div>
    </div>
    </div>
  </form>
</div>


<div style="margin-outside: 2; padding: 10px"></div>
<!-- MODAL -->
<div class="modal" tabindex="-1" id="confirmationModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Bevestiging</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div *ngIf="!confirmedOrder">
          <div>Bent u zeker van u keuze?</div>
          <div *ngFor="let orderItem of orderItemList">
            <label *ngIf="orderItem.drink !== undefined; else printDish">
              Drank : {{orderItem.drink.name}}
            </label>
            <ng-template #printDish> **
              <label>
                Gerecht : {{orderItem.dish.name}} **
              </label>
            </ng-template>
            Aantal : {{orderItem.amount}} **
            Prijs toegevoegde items : €{{orderItem.price}}
          </div>
        </div>
        <div *ngIf="confirmedOrder"><h2>Bedankt voor uw bestelling!</h2></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" id="closeButton">Sluiten</button>
        <button type="submit" *ngIf="!checkMoney()" class="btn mr-1" (click)="confirmOrder()">Bevestigen</button>
        <div *ngIf="checkMoney()"><h2 style="color: red">Geen geld genoeg!</h2> totaal credits: {{totalAmount/10}} > uw credits: {{credits}}</div>
      </div>
    </div>
  </div>
</div>



