<!-- @author Kenny Maes, Jens Lauwers, Pelin Yuzbasioglu -->

<div class="container-fluid">
  <div class="container">
    <div class="row justify-content-center my-auto">

      <!-- INFO COLUMN -->
      <div class=" col-md-5 col-lg-4 text-center p-0 info-col">
        <div class="info">
          <h1 class="text-white">Registreer hier</h1>
          <p class="text-white px-5">Als klant of als uitbater van een zaak
            kan je genieten van al onze voordelen die we te bieden hebben</p>
          <img src="assets/logo/resto_art.png" alt="">
        </div>
      </div>

      <!-- FORM COLUMN -->
      <div class="col-md-7 col-lg-6 p-0">
        <div class="registration d-flex justify-content-center">
          <form #regForm="ngForm" (ngSubmit)="processForm(regForm)">
            <div *ngIf="accountCreated" class="alert alert-success" role="alert">
              Inschrijving is in orde!
            </div>
            <div *ngIf="accountFailed" class="alert alert-danger" role="alert">
              {{message}}
            </div>

            <!-- ROW 1 -->
            <div class="form-row">
              <!-- FIRST NAME -->
              <div class="col-md-12 mb-3">
                <input type="text" placeholder="Naam" class="form-control" id="validationDefault01" name="firstName"
                  minlength="2" required [(ngModel)]="accountDetails.firstName" #firstName="ngModel">
                <div *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)" class="alert alert-danger">

                  <div *ngIf="firstName.errors.required">
                    Naam is verplicht!
                  </div>
                  <div *ngIf="firstName.errors.minlength">
                    Naam moet ten minste 2 letters bevatten!
                  </div>
                </div>
              </div>

            </div>

            <!-- ROW 2 -->
            <div class="form-row">
              <!-- LAST NAME -->
              <div class="col-md-12 mb-3">
                <input type="text" placeholder="Familienaam" class="form-control" id="validationDefault02"
                  name="lastName" minlength="2" required [(ngModel)]="accountDetails.lastName" #lastName="ngModel">
                <div *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)" class="alert alert-danger">

                  <div *ngIf="lastName.errors.required">
                    Familienaam is verplicht!
                  </div>
                  <div *ngIf="lastName.errors.minlength">
                    Familienaam moet ten minste 2 letters bevatten!
                  </div>

                </div>
              </div>
            </div>

            <!-- ROW 2 -->
            <div class="form-row">
              <!-- EMAIL -->
              <div class="col-md-12 mb-3">
                <input type="text" placeholder="Email" class="form-control" id="emailField" name="email" required
                  emailValidation [(ngModel)]="accountDetails.email" #email="ngModel">
                <div *ngIf="email.errors?.invalid && (email.dirty || email.touched)" class="alert alert-danger">
                  Dit is geen geldig email adres!
                </div>
              </div>
            </div>

            <!-- ROW 4 -->
            <div class="form-row">
              <!-- USERNAME -->
              <div class="col-md-12 mb-3">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroupPrepend2">@</span>
                  </div>

                  <input type="text" placeholder="Gebruikersnaam" class="form-control" id="validationDefaultUsername"
                    name="username" aria-describedby="inputGroupPrepend2" required minlength="5"
                    [(ngModel)]="user.username" #username="ngModel">

                </div>
                <div *ngIf="username.invalid && (username.dirty || username.touched)" class="alert alert-danger">
                  <div *ngIf="username.errors.required">
                    Gebruikersnaam is verplicht!
                  </div>
                  <div *ngIf="username.errors.minlength">
                    Gebruikersnaam moet ten minste 5 letters bevatten!
                  </div>
                </div>
              </div>
            </div>
            <!-- RADIO BUTTONS FOR ROLE (USER Or OWNER) -->
            <fieldset class="form-group">
              <div class="row">
                <div class="col-sm-12">
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="role" id="user" value="ROLE_USER" checked
                      [(ngModel)]="user.role">
                    <label class="form-check-label text-white" for="user">
                      Klant
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="role" id="owner" value="ROLE_OWNER"
                      [(ngModel)]="user.role">
                    <label class="form-check-label text-white" for="owner">
                      Uitbater
                    </label>
                  </div>
                </div>
              </div>
            </fieldset>

            <!-- CHECKBOX -->
            <div class="form-group">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" name="acceptConditions" id="invalidCheck"
                  ngModel required />
                <label class="form-check-label text-white" for="invalidCheck">
                  Akkoord gaan met de algemene voorwaarden
                </label>
                <div class="invalid-feedback">Je moet akkoord gaan met de algemene voorwaarden</div>
              </div>
            </div>

            <!-- BUTTONS -->
            <div class="row">
              <div class="col-sm-12">
                <button *ngIf="!showLoading" type="submit" class="btn reg-btn"
                  [disabled]="!regForm.valid">Registreren</button>
                <button *ngIf="showLoading" class="btn reg-btn" type="button" disabled>
                  <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                  Registreren...
                </button>
              </div>
            </div>
          </form>
          <!-- END Form -->
        </div>
        <!-- END Registration -->
      </div>
      <!-- END Form column -->
    </div>
  </div>
</div>
