// Variables
$container_padding: 30px;
$border_radius: 20px;
$box_height: 80vh;
$box_min_height: 400px;
$box_max_height: 700px;

// Colors
$dark_purple: #3023AE;
$light_purple: #C86DD7;

// BASE
.container-fluid {
  padding-top: $container_padding;
  padding-bottom: $container_padding;
  min-height: 80vh;
  background-image: linear-gradient(to bottom right, #3829C4 0%, #8DF6F4 100%);

}

.container {
    margin-top: 5vh;
}

.info-col {
  height: $box_height;
  min-height: $box_min_height;
  max-height: $box_max_height;
  display: flex;

  // set background color
  background: -webkit-linear-gradient($dark_purple, $light_purple);
  background: -moz-linear-gradient($dark_purple, $light_purple);
  background: linear-gradient($dark_purple, $light_purple);
  border-radius: $border_radius 0px 0px $border_radius;
}

.registration {
  height: $box_height;
  min-height: $box_min_height;
  max-height: $box_max_height;
  border-radius: 0px $border_radius $border_radius 0px;
  background-color: rgba($color: #000000, $alpha: 0.25);

  form {
    margin-top: auto;
    margin-bottom: auto;
  }
}

.info {

  margin-top: auto;
  margin-bottom: auto;

  img {
    width: 60%;
  }
}

.reg-btn {
  width: 100%;
  border-radius: 6px;
  border: 0;
  color: white;
  background-image: linear-gradient(to top left, #3023AE 0%, #C86DD7 100%);
}

@media screen and (max-width: 767px) {
  .info-col {
    height: 40vh;
    min-height: $box_min_height;
    max-height: $box_max_height;
    display: flex;

    // set background color
    background: -webkit-linear-gradient(#3023AE, #C86DD7);
    background: -moz-linear-gradient(#3023AE, #C86DD7);
    background: linear-gradient(#3023AE, #C86DD7);
    border-radius: $border_radius $border_radius 0px 0px;
  }

  .registration {
    height: 70vh;
    min-height: $box_min_height;
    max-height: $box_max_height;
    border-radius: 0px 0px $border_radius $border_radius;
    background-color: rgba($color: #000000, $alpha: 0.25);

    form {
      margin-top: auto;
      margin-bottom: auto;
    }
  }

  .info {

    margin-top: auto;
    margin-bottom: auto;

    img {
      width: 40%;
    }
  }

  .container {
    margin-top: 2vh;
}
}
