<div class="container mt-5 mb-5">
  <h1 class="my-4">Koop je advertenties hier!</h1>
  <h5 class="my-4"> Deze link & tekst komen tevoorschijn op de home pagina </h5>
  <form #buyForm="ngForm" (ngSubmit)="processForm(buyForm)">
    <H6 *ngIf="checkMoney()" style="color: red">Niet genoeg credits! Update deze op je credits pagina</H6>
    <div class="form-group">
      <label >link :</label>
      <div class="m-2"></div>
      <label>
        <input type ="text" class="form-control" maxlength="50" [(ngModel)]="newAdvert.link" name="link"
               required pattern='^((https?|ftp|smtp):\/\/)?(www.)?[a-z0-9]+\.[a-z]+(\/[a-zA-Z0-9#]+\/?)*$' #link="ngModel">
      <span style="color: red" *ngIf="!link.valid">geen geldige website</span>
      </label>
    </div>
    Tekst in publicatie (maximum 256 tekens) :
    <div class="m-2"></div>
    <label>
      <textarea class="form-text" maxlength="256" id="square"  [(ngModel)]="newAdvert.text" name="text" >
        text
      </textarea>
    </label>
    <div class="m-4"></div>
      Advertentie kopen (5 Tokens) :
    <div class="m-4"></div>
    <div *ngIf="!checkMoney()">
      <button *ngIf="!showLoading && link.valid" type="submit"  class="btn btn-primary">Kopen</button>
    <button *ngIf="showLoading" class="btn btn-primary" type="button" disabled>
      <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
      Verwerken...
    </button>
    </div>
  </form>
</div>
