<div class="container">
  <div class="row">
    <div class="col-md-12 col-lg-4 info-col">
      <div class="my-5">
        <form #menuDrinkForm="ngForm" (ngSubmit)="addDrink(menuDrinkForm)">
          <div class="row justify-content-center">
            <div class="row justify-content-center align-items-center">
              <img class="food-image mb-5" src="assets/logo/drinks_logo.png" alt="">
              <div class="form-row col-9 text-center p-0">
                <div class="col-12 mb-3">
                  <input
                    type="text"
                    placeholder="Naam"
                    class="form-control"
                    id="validationCustom02"
                    [(ngModel)]="drink.name"
                    name="name"
                    #drinkName="ngModel"
                    required
                    minlength="3"
                  />
                  <div
                    *ngIf="drinkName.invalid && (drinkName.dirty || drinkName.touched)"
                    class="alert alert-danger"
                  >
                    <div *ngIf="drinkName.errors.required">
                      verplicht!
                    </div>
                    <div *ngIf="drinkName.errors.minlength">
                      minste 3 letters bevatten!
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-row col-9 text-center p-0">
                <div class="col-md-12 mb-3">
                  <select
                    class="custom-select mr-sm-2"
                    id="inlineFormCustomSelectPref2"
                    [(ngModel)]="drink.type" name="drinkType"
                  >
                    <option *ngFor="let item of keys(drinkTypes); let i = index" [ngValue]="item">
                      {{ drinkTypes[item] }}
                    </option>
                  </select>
                </div>
              </div>
              <div class="form-row col-9 text-center p-0">
                <div class="col-md-12 mb-3">
                  <input id="price" onkeypress="return (event.charCode == 69 ? null : event.charCode >= 48 && event.charCode <= 57 || onkeypress('.'))"
                         type="number"
                         placeholder="Prijs"
                         class="form-control"
                         [(ngModel)]="drink.price"
                         name="drinkPrice"
                         #price="ngModel"
                         required
                         min="1"/>
                  <div *ngIf="price.invalid && (price.dirty || price.touched)" class="alert alert-danger">
                    <div *ngIf="price.errors.required">
                      verplicht!
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <button *ngIf="!showLoading" type="submit" class="btn btn-primary" [disabled]="!menuDrinkForm.valid || drink.type === undefined">Toevoegen</button>
            <button *ngIf="showLoading" class="btn btn-primary" type="button" disabled>
              <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
              Drank toevoegen!
            </button>
          </div>




        </form>
      </div>
    </div>
    <div class="col-md-12 col-lg-6 registration text-center p-0">
      <div *ngIf="showIsRemoved" class="alert alert-success" role="alert">
        {{ message }}
      </div>
      <div *ngIf="showError" class="alert alert-danger" role="alert">
        {{ message }}
      </div>
      <h2 class="pt-5 text-white">Voeg drank toe aan je menu</h2>
      <table class="table table-sm mb-5">
        <thead class="thead-primary">
        <tr>
          <th>Naam</th>
          <th>Prijs</th>
          <th>Type</th>
          <th class="text-center">Opties</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of drinks; let i = index">
          <td>{{ item.name }}</td>
          <td>{{ item.price }}</td>
          <td>{{ drinkTypes[item.type] }}</td>
          <td class="text-center">
            <button type="button" class="btn btn-sm mr-1" (click)="onUpdateDrink(item)" data-toggle="modal" data-target="#updateDrinkModal"><img src="assets/icons/pencil_icon.png" alt="">
            </button>
            <button class="btn btn-sm ml-1" (click)="setToBeRemoved(item)" data-toggle="modal" data-target="#confirmDrinkModal"><img src="assets/icons/delete_icon.png" alt=""></button>
          </td>
        </tr>
        </tbody>
      </table>
      <img [hidden]="!isDrinkListLoading" class="burger-loader" src="assets/icons/hamburger_icon.png" alt="">
    </div>
  </div>
</div>

<!-- DRINK MODAL -->
<div class="modal fade" id="updateDrinkModal" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalCenterTitle2" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle2">Drank aanpassen</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #editDrinkForm="ngForm">
          <div class="form-group">
            <label for="drinkName">Naam</label>
            <input type="text" name="drinkName" required [(ngModel)]="editDrink.name" class="form-control">
          </div>
          <div class="form-group">
            <label class="my-1 mr-2" for="inlineFormCustomSelectPref4"
            >Type drank</label
            >
            <select
              class="custom-select mr-sm-2"
              id="inlineFormCustomSelectPref4"
              [(ngModel)]="editDrink.type" name="drinkType"
            >
              <option *ngFor="let item of keys(drinkTypes)" [ngValue]="item">
                {{ drinkTypes[item] }}
              </option>
            </select>
          </div>
          <div class="form-group">
            <label for="drinkPrice">Prijs</label>
            <input type="number" onkeypress="return (event.charCode == 69 ? null : event.charCode >= 48 && event.charCode <= 57 || onkeypress('.'))" name="drinkPrice" required [(ngModel)]="editDrink.price" class="form-control">
          </div>

        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Sluiten</button>
        <button type="button" class="btn purple-btn" data-dismiss="modal" (click)="saveUpdateDrink()">Opslaan
        </button>
      </div>
    </div>
  </div>
</div>

<!-- CONFIRM MODAL -->
<div class="modal fade" id="confirmDrinkModal" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalCenterTitle2" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="confirmTitle">Verwijderen ?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Bent u zeker dat u <b>{{ drinkToRemove.name }}</b> wil verwijderen ? </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger mr-1" data-dismiss="modal">Annuleren</button>
        <button type="button" class="btn purple-btn ml-1" data-dismiss="modal" (click)="removeDrink()">Verwijderen
        </button>
      </div>
    </div>
  </div>
</div>

