<div class="container mx-auto text-center">
    <div class="col-12 text-center mx-auto my-5 py-5">
        <img src="assets/logo/403.png" alt="">
    </div>
<h2 class="text-center my-5 pt-5">Je hebt geen rechten om hier te eten</h2>
<a routerLink="" class="btn btn-primary mx-auto mt-3 mb-5">Ga terug</a>
</div>
