<!-- Pelin Yuzbasioglu -->
<div class="welcome">
  <div class="container-fluid bg-light mb-0 pt-4">
    <div class="container background">
      <img class="logo" src="assets/logo/logo.png" alt="">
    </div>
  </div>
  <div class="jumbotron jumbotron-fluid bg-light m-0">
    <div class="container background">
      <h1 class="display-4 py-4 text-center">Welkom bij Bistra</h1>
      <p class="lead text-center">Een applicatie van de Federatie voor Kleine Horeca Uitbaters (FKHU).</p>

      <hr class="my-5">

      <div class="row my-4">
        <p class="ml-3 lead mt-5">Via Bistra app kan je verschillende diensten op een gemakkelijke manier gebruiken als
          klant en als uitbater:</p>
        <div class="col-sm-6">
          <div class="card border-1">
            <div class="card-body">
              <h5 class="card-title text-center mb-4">Klanten</h5>
              <ul class="list-unstyled">
                <li>
                  <bi class="icon-card" name="calendar-check"></bi>
                  Reserveer uw tafel
                </li>
                <li>
                  <bi class="icon-card" name="cart-4"></bi>
                  Bestel uw eten om af te halen
                </li>
                <li>
                  <bi class="icon-card" name="search"></bi>
                  Ontdek nieuwe restaurants in de buurt
                </li>
                <li>
                  <bi class="icon-card" name="credit-card-2-back"></bi>
                  Betaal digitaal op een gemakkelijke manier
                </li>
                <li>
                  <bi class="icon-card" name="gift"></bi>
                  Krijg kortingen
                </li>
                <li>
                  <bi class="icon-card" name="pen"></bi>
                  Geef uw mening over de restaurants en raadpleeg de feedbacks van andere klanten
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card border-1">
            <div class="card-body">
              <h5 class="card-title text-center mb-4">Uitbaters</h5>
              <ul class="list-unstyled">
                <li>
                  <bi class="icon-card" name="calendar-check"></bi>
                  Ontvang reservaties
                </li>
                <li>
                  <bi class="icon-card" name="mouse-3"></bi>
                  Beheer alle info over uw zaak via uw persoonlijke pagina
                </li>
                <li>
                  <bi class="icon-card" name="clipboard"></bi>
                  Pas uw menu inhoud, prijzen en tafelplan zelf aan
                </li>
                <li>
                  <bi class="icon-card" name="people"></bi>
                  Creëer advertenties om meer klanten aan te trekken
                </li>
                <li>
                  <bi class="icon-card" name="bar-chart-line"></bi>
                  Krijg marktinzicht door de beoordelingen van uw klanten
                </li>
                <li>
                  <bi class="icon-card" name="credit-card-2-back"></bi>
                  Betalingen automatisch gestort naar uw bankrekening onmiddelijk door Bistra
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="hidden-xs hidden-md hidden-lg"></div>
      <div *ngIf="!isLoggedIn">
        <p class="ml-3 lead mt-5 text-center">Interesse om lid te worden?</p>
        <div class="text-center mb-5"><a href="http://localhost:4200/registration"
                                         class="btn btn-primary">Inschrijven</a>
        </div>

        <hr class="my-4">

        <p class="text-center">Ben je al een lid?</p>
        <div class="text-center"><a class="btn btn-secondary btn-lg btn-sm" href="http://localhost:4200/login"
                                    role="button">Login</a></div>
      </div>
    </div>

    <div class="my-5">
      <h2 class="text-center">Gesponsorde Berichten</h2>

      <div class="grid grid-pad">
        <a *ngFor="let advert of adverts" [attr.href]="advert.link" class="col-1-4">
          <div class="text-center">
            <div class="module">
              Bezoek {{advert.link.slice(12)}} <br>
              {{advert.text}}
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
