/** @author Kenny Maes, Pelin Yuzbasioglu */
.container-fluid {
  height: calc(80vh - 160px);
  width: 100%;

  .background {
    background-image: url('../../assets/backgrounds/welcome_bg.jpg'); /* The image used */
    background-color: #cccccc; /* Used if the image is unavailable */
    height: 60vh; /* You must set a specified height */
    background-position: center center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    width: 100%;

    @media screen and (max-width: 991px) {
      .logo {
        position: absolute;
        display: inline-block;
        height: auto;
        width: 70%;
        top: 20%;
        left: 50%;
        transform: translate(-50%,0%);
      }
    }

    @media screen and (min-width: 992px) {
      .logo {
        position: absolute;
        display: inline-block;
        height: 25vh;
        top: 20%;
        left: 50%;
        transform: translate(-50%,0%);
      }
    }
  }
}

[class*='col-'] {
  float: left;
  padding-right: 20px;
  padding-bottom: 20px;
}
[class*='col-']:last-of-type {
  padding-right: 0;
}
a {
  text-decoration: none;
}
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.grid {
  margin-bottom: 150px;
  margin-left: 50px;
  margin-right: 50px;
}
.col-1-4 {
  width: 25%;
}
.module {
  padding: 20px;
  text-align: center;
  color: #eee;
  max-height: 120px;
  min-width: 120px;
  background-color: #3f525c;
  border-radius: 2px;
}
.module:hover {
  background-color: #eee;
  cursor: pointer;
  color: #607d8b;
}
.grid-pad {
  padding: 10px 0;
}
.grid-pad > [class*='col-']:last-of-type {
  padding-right: 20px;
}
@media (max-width: 600px) {
  .module {
    font-size: 10px;
    max-height: 75px; }
}
@media (max-width: 1024px) {
  .grid {
    margin: 0;
  }
  .module {
    min-width: 60px;
  }
}

.card-title{
  color: #5F9EA0;
}

.icon-card {
  color: #5F9EA0;
  margin-right: 20px;
  margin-bottom: 10px;
}

.aligned {
  border-style: double;
  border-color: black;
  width: 500px;
  margin-left: 37%;
  margin-right: 37%;
}
