#titel {
    margin-top: 1em;
}

#dag {
    background-color: #3023AE;
    margin-left: 5px;
    margin-top: 5px;
    color: white;
    border-radius: 6px;
    width: 95%;
}

#open {
    background-color: rgb(0, 129, 72);
    margin-left: 5px;
    margin-top: 5px;
    color: white;
    border-radius: 6px;
    text-align: center;
    width: 80%;
}

#booked {
    background-color: rgb(106, 46, 53);
    margin-left: 5px;
    margin-top: 5px;
    color: darkslategrey;
    border-radius: 6px;
    text-align: center;
    width: 80%;
}

#closed {
    background-color: rgb(46, 40, 54);
    margin-left: 5px;
    margin-top: 5px;
    color: darkslategrey;
    border-radius: 6px;
    text-align: center;
    width: 80%;
}