<div class="container">
    <div id="titel" class="row">
        <div class="text-primary">
            <div class="col">
                <h3>Maak hier uw reservaties!</h3>
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-2">
            <b><u>Algemene info</u></b>
        </div>
    </div>
    <div class="row">
        <div id="open" class="col-3" style="color: white;">
            Beschikbaar
        </div>
        <div id="closed" class="col-3" style="color: white;">
            Gesloten
        </div>
        <div id="booked" class="col-3" style="color: white;">
            Volboekt
        </div>
        
    </div>
    <hr>
    <div class="row">
        <div id="dag" class="col-1 ">Maandag</div>
        <div id="closed" class="col-2 ">10u - 11u30</div>
        <div id="closed" class="col-2 ">11u30 - 13u</div>
        <div id="booked" class="col-3 ">18u - 20u</div>
        <div id="open" class="col-3 ">20u - 22u</div>
    </div>
    <div class="row">
        <div id="dag" class="col-1 ">Dinsdag</div>
        <div id="closed" class="col-2 ">10u - 11u30</div>
        <div id="closed" class="col-2 ">11u30 - 13u</div>
        <div id="booked" class="col-3 ">18u - 20u</div>
        <div id="open" class="col-3 ">20u - 22u</div>
    </div><div class="row">
        <div id="dag" class="col-1 ">Woensdag</div>
        <div id="booked" class="col-2 ">10u - 11u30</div>
        <div id="open" class="col-2 ">11u30 - 13u</div>
        <div id="open" class="col-3 ">18u - 20u</div>
        <div id="booked" class="col-3 ">20u - 22u</div>
    </div><div class="row">
        <div id="dag" class="col-1 ">Donderdag</div>
        <div id="closed" class="col-2 ">10u - 11u30</div>
        <div id="closed" class="col-2 ">11u30 - 13u</div>
        <div id="booked" class="col-3 ">18u - 20u</div>
        <div id="open" class="col-3 ">20u - 22u</div>
    </div>
    <div class="row">
        <div id="dag" class="col-1 ">Vrijdag</div>
        <div id="closed" class="col-2 ">10u - 11u30</div>
        <div id="closed" class="col-2 ">11u30 - 13u</div>
        <div id="open" class="col-3 ">18u - 20u</div>
        <div id="booked" class="col-3 ">20u - 22u</div>
    </div><div class="row">
        <div id="dag" class="col-1 ">Zaterdag</div>
        <div id="open" class="col-2 ">10u - 11u30</div>
        <div id="open" class="col-2 ">11u30 - 13u</div>
        <div id="open" class="col-3 ">18u - 20u</div>
        <div id="booked" class="col-3 ">20u - 22u</div>
    </div><div class="row">
        <div id="dag" class="col-1 ">Zondag</div>
        <div id="open" class="col-2 ">10u - 11u30</div>
        <div id="booked" class="col-2 ">11u30 - 13u</div>
        <div id="open" class="col-3 ">18u - 20u</div>
        <div id="booked" class="col-3 ">20u - 22u</div>
    </div>
</div>
