<div class="container-fluid">
  <div [hidden]="submitted">
    <h4 class="display-4">Jouw feedback:</h4>
    <form accept-charset="UTF-8" action="" method="post" (ngSubmit)="save(fbForm)" #fbForm="ngForm">
      <div class="row my-5 justify-content-center">
        <div class="col-md-6">
          <div class="well well-sm">
            <div class="row rating">
              <input type="radio" name="rating" value="5" id="5" required="required"
                     (click)="addRating(5)">
              <label for="5">☆</label>
              <input type="radio" name="rating" value="4" id="4" required="required"
                     (click)="addRating(4)">
              <label for="4">☆</label>
              <input type="radio" name="rating" value="3" id="3" required="required"
                     (click)="addRating(3)">
              <label for="3">☆</label>
              <input type="radio" name="rating" value="2" id="2" required="required"
                     (click)="addRating(2)">
              <label for="2">☆</label>
              <input type="radio" name="rating" value="1" id="1" required="required"
                     (click)="addRating(1)">
              <label for="1">☆</label>
              <div *ngIf="addRating(0)" class="alert alert-danger">
                Rating is verplicht!
              </div>
            </div>
            <div class="row" id="post-review-box">
              <div class="col-md-12">
                <label for="new-review"></label>
                <textarea class="form-control animated mb-2" cols="50" id="new-review" name="review"
                          placeholder="Schrijf jouw feedback hier..." rows="5"
                          [(ngModel)]="feedback.review" #review="ngModel" required></textarea>
                <div *ngIf="review.invalid && (review.dirty || review.touched)"
                     class="alert alert-danger">
                </div>
              </div>
            </div>
            <div class="text-right">
              <a class="btn btn-danger btn-sm btn-lg" href="#" id="close-review-box" style="margin-right: 10px;">
                Annuleren</a>
              <button class="btn btn-success btn-sm btn-lg sub" type="submit" [disabled]="!fbForm.form.valid || !ratingOk">Opslaan
              </button>
            </div>
          </div>
        </div>
      </div>

    </form>
  </div>
  <div [hidden]="!submitted">
    <h2>Bedankt voor jouw feedback!</h2>
    <br>
    <div class="row my-1 justify-content-center my-5">
      <button class="btn btn-primary" routerLink="">Terug naar de restaurant lijst</button>
    </div>
  </div>
</div>
