.animated {
  -webkit-transition: height 0.2s;
  -moz-transition: height 0.2s;
  transition: height 0.2s;
}

.rating {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center
}

.rating>input {
  display: none
}

.rating>label {
  position: relative;
  width: 1em;
  font-size: 6vw;
  color: #FFD600;
  cursor: pointer
}

.rating>label::before {
  content: "\2605";
  position: absolute;
  opacity: 0
}

.rating>label:hover:before,
.rating>label:hover~label:before {
  opacity: 1 !important
}

.rating>input:checked~label:before {
  opacity: 1
}

.rating:hover>input:checked~label:before {
  opacity: 0.4
}

body {
  background: #222225;
  color: white
}

h4,
p {
  text-align: center
}

h4 {
  margin-top: 150px
}

p {
  font-size: 1.2rem
}

@media only screen and (max-width: 600px) {
  h4 {
    font-size: 14px
  }

  p {
    font-size: 12px
  }
}

.sub {
  width: 100px;
  height: 45px;
  border-radius: 10px;
  border: 0;
  font-size: 16px;
  background-image: linear-gradient(to top left, #32CD32 0%, #006400 100%);
}

a {
  width: 100px;
  height: 35px;
  border-radius: 10px;
  border: 0;
  font-size: 16px;
  background-image: linear-gradient(to top left, #B22222 0%, #FA8072 100%);
}
