<div class="container-fluid">
  <div class="container d-flex h-100">
    <div class="row justify-content-center align-self-center">
      <!-- INFO COLUMN -->
      <div class=" col-md-5 col-lg-4 text-center p-0 info-col">
        <div class="info">
          <h1 class="text-white">Registreer hier</h1>
          <!-- INFO ROW #1 -->
          <div class="row pt-4 pb-3">
            <div class="col-2 my-auto ml-2">
              <img src="assets/icons/arrows_right.png" alt="">
            </div>
            <div class="col-9 my-auto">
              <p class="text-white">Geef de naam, type en
                het aantal personen dat je kan verwelkomen door.</p>
            </div>
          </div>
          <!-- INFO ROW #2 -->
          <div class="row py-3">
            <div class="col-2 my-auto ml-2">
              <img src="assets/icons/arrows_right.png" alt="">
            </div>
            <div class="col-9 my-auto">
              <p class="text-white">Voeg vervolgens gerechten toe aan je menu waaronder je de naam, prijs, type gerecht
                en allergenen toe.</p>
            </div>
          </div>
          <!-- INFO ROW #3 -->
          <div class="row py-3">
            <div class="col-2 my-auto ml-2">
              <img src="assets/icons/arrows_right.png" alt="">
            </div>
            <div class="col-9 my-auto">
              <p class="text-white">Tot slot kan je je drankkaart aanvullen.</p>
            </div>
          </div>
          <img class="pt-3" src="assets/logo/add_restaurant.png" alt="">
        </div>
      </div>
      <!-- FORM COLUMN -->
      <div class="col-md-7 col-lg-6 p-0">
        <div class="registration d-flex justify-content-center align-items-center">
          <form #restoForm="ngForm" (ngSubmit)="handleForm()" class="mx-5">
            <!-- ROW 1 -->
            <div class="form-row">
              <!-- RESTAURANT NAME -->
              <div class="col-md-6 mb-3">
                <input type="text" placeholder="Naam" class="form-control" id="nameLabel" [(ngModel)]="restaurant.name"
                       name="name" #restaurantName="ngModel" required minlength="3"/>
                <div *ngIf="
                    restaurantName.invalid &&
                    (restaurantName.dirty || restaurantName.touched)
                  " class="alert alert-danger">
                  <div *ngIf="restaurantName.errors.required">
                    Gebruikersnaam is verplicht!
                  </div>
                  <div *ngIf="restaurantName.errors.minlength">
                    Naam moet ten minste 3 letters bevatten!
                  </div>
                </div>
              </div>
              <!-- KITCHEN TYPE -->
              <div class="col-md-6 mb-3">
                <select class="custom-select mr-sm-2" id="kitchenTypeLabel" [(ngModel)]="restaurant.type"
                        name="kitchenType">
                  <option *ngFor="let item of keys(types)" [ngValue]="item">
                    {{ types[item] }}
                  </option>
                </select>
              </div>
            </div>
            <!-- ROW 2 -->
            <div class="form-row d-flex justify-content-start">
              <div class="col-md-5 mb-3">
                <input id="max-capacity" placeholder="Maximum personen" type="number" class="form-control"
                       [(ngModel)]="restaurant.maxCapacity" name="maxCapacity" #maxCapacity="ngModel" required min="1"/>
                <div *ngIf="maxCapacity.invalid && (maxCapacity.dirty || maxCapacity.touched)"
                     class="alert alert-danger">
                  <div *ngIf="maxCapacity.errors.required">
                    Capaciteit is verplicht!
                  </div>
                </div>
              </div>
            </div>
            <!-- ROW 3 -->
            <div class="form-row d-flex justify-content-start">
              <div class="col-md-12 mb-3">
                <textarea type="text" placeholder="Beschrijving" class="form-control" id="descriptionLabel"
                          [(ngModel)]="restaurant.description" #description="ngModel"
                          name="description" maxlength="255"></textarea>
                <div *ngIf="
                    description.invalid &&
                    (description.dirty || description.touched)
                  " class="alert alert-danger">
                  <div *ngIf="description.errors.maxlength">
                    Bescrijving kan niet meer dan 255 letters bevatten!
                  </div>
                </div>
              </div>
            </div>
            <!-- ROW 4 -->
            <!-- Button trigger Image modal -->
            <button type="button" class="btn btn-primary my-3" data-toggle="modal" data-target="#exampleModalCenter">
              Kies afbeelding
            </button>
            <h3>Adres</h3>
            <div class="row">
              <div class="container">
                <div class="form-row">
                  <!-- STREET -->
                  <div class="col-md-5 mb-3">
                    <input type="text" placeholder="Straat" class="form-control" id="street" #street = "ngModel" minlength="3"
                           [(ngModel)]="address.street" name="street" required/>
                    <div
                      *ngIf="street.invalid && (street.dirty || street.touched)"
                      class="alert alert-danger"
                    >
                      <div *ngIf="street.errors.required">
                        Straatnaam is verplicht!
                      </div>
                      <div *ngIf="street.errors.minlength">
                        Straatnaam moet ten minste 3 letters bevatten!
                      </div>
                    </div>
                  </div>
                  <!-- NR -->
                  <div class="col-md-3 mb-3">
                    <input type="text" placeholder="Nr." class="form-control" id="number" #streetNumber = "ngModel" [(ngModel)]="address.bus"
                           name="bus" minlength="1"  required/>
                    <div
                      *ngIf="streetNumber.invalid && (streetNumber.dirty || streetNumber.touched)"
                      class="alert alert-danger"
                    >
                      <div *ngIf="streetNumber.errors.required">
                        Straatnummer is verplicht!
                      </div>
                      <div *ngIf="streetNumber.errors.minlength">
                        Straatnummer moet ten minste 1 cijfer bevatten!
                      </div>
                    </div>
                  </div>
                  <!-- ZIPCODE -->
                  <div class="col-md-3 mb-3">
                    <input type="text" class="form-control" id="zipcode" placeholder="Postcode" [(ngModel)]="address.zipcode" #zipCode = "ngModel" name="zipcode" minlength="4" maxlength="4"
                           required/>
                    <div
                      *ngIf="zipCode.invalid && (zipCode.dirty || zipCode.touched)"
                      class="alert alert-danger"
                    >
                      <div *ngIf="zipCode.errors.required">
                        Postcode is verplicht!
                      </div>
                      <div *ngIf="zipCode.errors.minlength">
                        Postcode moet 4 cijfers bevatten!
                      </div>
                      <div *ngIf="zipCode.errors.maxlength">
                        Postcode moet 4 cijfers bevatten!
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-row">
                  <!-- CITY -->
                  <div class="col-md-5 mb-3">
                    <input type="text" placeholder="Stad" class="form-control" id="city" #city="ngModel" [(ngModel)]="address.city"
                           name="city" minlength="2" required/>
                    <div
                      *ngIf="city.invalid && (city.dirty || city.touched)"
                      class="alert alert-danger"
                    >
                      <div *ngIf="city.errors.required">
                        Stadsnaam is verplicht!
                      </div>
                      <div *ngIf="city.errors.minlength">
                        Stadsnaam moet ten minste 2 letters bevatten!
                      </div>
                    </div>
                  </div>
                  <!-- COUNTRY -->
                  <div class="col-md-3 mb-3">
                    <input type="text" placeholder="Land" class="form-control" id="country" #country="ngModel"
                           [(ngModel)]="address.country" name="country" minlength="3" required/>
                    <div
                      *ngIf="country.invalid && (country.dirty || country.touched)"
                      class="alert alert-danger"
                    >
                      <div *ngIf="country.errors.required">
                        Landsnaam is verplicht!
                      </div>
                      <div *ngIf="country.errors.minlength">
                        Landsnaam moet ten minste 3 letters bevatten!
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="form-group">
                <!-- CHECKBOX PARKING -->
                    <label class="checkbox-container text-white">Parking aanwezig ?
                  <input type="checkbox" value="" id="hasParking" name="parking"
                         [(ngModel)]="restaurant.parking"
                         [ngModelOptions]="{standalone: true}">
                  <span class="checkmark"></span>
                </label>
                <!-- CHECKBOX CONDITIONS -->
                <label class="checkbox-container text-white">Akkoord gaan met de algemene voorwaarden
                  <input type="checkbox" value="" id="invalidCheck" name="acceptConditions"
                         required ngModel>
                  <span class="checkmark"></span>
                </label>
              </div>

            </div>
            <!-- BUTTONS -->
            <button *ngIf="!showLoading" type="submit" class="btn"
                    [disabled]="!restoForm.valid || !isImageSelected">
              Toevoegen
            </button>
            <button *ngIf="showLoading" class="btn" type="button" disabled>
              <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
              Restaurant toevoegen...
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- IMAGES MODAL -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
     aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Kies Afbeelding</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col col-dm-6 col-lg-3 mt-3" *ngFor="let item of arrayOne(12); let i = index;">
            <button id="image_button" type="button" class="img-container" (click)="checkImage($event)">
              <img class="bannerImage" src="assets/restaurants/restaurant{{ i+1 }}.png" alt=""/>
              <div id="restaurant{{ i+1 }}" class="overlay">
                <img class="icon" src="assets/logo/check.png" alt=""/>
              </div>
            </button>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn mr-1" data-dismiss="modal">Sluiten</button>
        <button type="button" class="btn ml-1" data-dismiss="modal" [disabled]="!isImageSelected">Kies
          afbeelding
        </button>
      </div>
    </div>
  </div>
</div>
