// BASE
.container-fluid {
  height: 90vh;
  min-height: 1000px;
  background-image: linear-gradient(to bottom right, #3829C4 0%, #8DF6F4 100%);
}
// ============================
// IMAGE SELECTION
#image_button:hover {
  transform: scale(2.5);
  z-index: 10;
}
// Button as an image on the modal
#image_button {
  width: 100px;
  border: 0;
  transition: transform .2s;
  background: 0;
  padding: 0;
}
// CLASSES
.bannerImage {
  width: 100px;
  height: auto;
  border-radius: 7px;
}
// container for that image on the button
.img-container {
  position: relative;
  cursor: pointer;
}
// overlay for the image
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  border-radius: 7px;
  transition: 0.5s ease;
  background-color: rgba($color: #FFFFFF, $alpha: 0.3);
}
// Show overlay
.img-container .overlay.show {
  opacity: 1;
}
// Icon on overlay
.icon {
  position: absolute;
  width: 30px;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  pointer-events: none;
}
// ============================
// BASE SETUP FOR ALL SCREEN SIZES
.info-col {
  height: 80vh;
  min-height: 600px;
  max-height: 800px;
  display: flex;
  // set background color
  background: -webkit-linear-gradient(#3023AE, #C86DD7);
  background: -moz-linear-gradient(#3023AE, #C86DD7);
  background: linear-gradient(#3023AE, #C86DD7);
  border-radius: 20px 0px 0px 20px;
}
// Registration div
.registration {
  height: 80vh;
  min-height: 600px;
  max-height: 800px;
  border-radius: 0px 20px 20px 0px;
  background-color: rgba($color: #000000, $alpha: 0.25);
  // Form inside registration
  form {
    margin-top: auto;
    margin-bottom: auto;
  }
}
// Info div
.info {
  margin-top: auto;
  margin-bottom: auto;
  // Image inside info
  img {
    width: 60%;
  }
}
// Registration Button
.option-btn {
  width: 100%;
  border-radius: 6px;
  border: 0;
  color: white;
  background-image: linear-gradient(to top left, #3023AE 0%, #C86DD7 100%);
}
// ============================
// OVERRIDE ON SCREEN SIZES
// Screens smaller then 767 pixels
@media screen and (max-width: 767px) {
  .container-fluid {
    height: 90vh;
    min-height: 1500px;
    background-image: linear-gradient(to bottom right, #3829C4 0%, #8DF6F4 100%);
  }
  // Base for info column
  .info-col {
    height: 50vh;
    min-height: 400px;
    max-height: 800px;
    display: flex;
    // Background color
    background: -webkit-linear-gradient(#3023AE, #C86DD7);
    background: -moz-linear-gradient(#3023AE, #C86DD7);
    background: linear-gradient(#3023AE, #C86DD7);
    border-radius: 20px 20px 0px 0px;
  }
  // Registration div
  .registration {
    height: 70vh;
    min-height: 600px;
    max-height: 800px;
    border-radius: 0px 0px 20px 20px;
    background-color: rgba($color: #000000, $alpha: 0.25);
    // Form inside registration
    form {
      margin-top: auto;
      margin-bottom: auto;
    }
  }
  // Info div
  .info {
    margin-top: auto;
    margin-bottom: auto;
    // Image inside info
    img {
      width: 50%;
    }
  }
}
// ============================
// BASE TAGS
p {
  margin: 0;
  font-size: 14px;
}
input {
  border-radius: 7px;
}
select {
  border-radius: 7px;
}
button {
  margin: 0;
  border: 0;
  color: white;
  background-image: linear-gradient(to top left, #3023AE 0%, #C86DD7 100%);
}
tr:nth-child(even) {
  background: white;
  color: black;
}
tr:nth-child(odd) {
  background: rgb(90, 90, 90, 0.23);
  color: white;
}
// no outline border (vb: On button/image select)
*:focus {
  outline: none;
}
// ============================

/* Customize the label (the container) */
.checkbox-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 18px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  border-radius: 4px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.checkbox-container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.checkbox-container input:checked ~ .checkmark {
  background-color: #8e21f3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkbox-container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkbox-container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
