<div class="container-fluid">
  <div class="container">
    <h1 class="pt-5">Wijzig hier de gegevens van je restaurant</h1>

    <!-- TAB PILLS -->
    <ul class="nav nav-pills mb-3 text-center" id="pills-tab" role="tablist">
      <li class="nav-item">
        <a class="nav-link text-white active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab"
           aria-controls="pills-home" aria-selected="true">Restaurant gegevens</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" id="pills-profile-tab" data-toggle="pill" href="#dishes" role="tab"
           aria-controls="pills-profile" aria-selected="false">Gerechten</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" id="pills-contact-tab" data-toggle="pill" href="#drinks" role="tab"
           aria-controls="pills-contact" aria-selected="false">drank</a>
      </li>
    </ul>

    <!--  HOURS TAB-->
    <div class="tab-content" id="pills-tabContent">
      <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
        <app-update-restaurant *ngIf="restaurant" [restaurant]='restaurant' [address]='address'></app-update-restaurant>
        <img *ngIf="!restaurant" class="burger-loader mt-5" src="assets/icons/hamburger_icon.png" alt="">
      </div>

      <!--  DISHES DISHES  -->
      <div class="tab-pane fade" id="dishes" role="tabpanel" aria-labelledby="pills-profile-tab">
        <app-add-dishes *ngIf="menu" [menu]="menu"></app-add-dishes>
      </div>
      <!--  END DISHES TAB-->
      <!--  DRINKS TAB-->
      <div class="tab-pane fade" id="drinks" role="tabpanel" aria-labelledby="pills-contact-tab">
        <app-add-drinks *ngIf="menu" [menu]="menu"></app-add-drinks>
      </div>
    </div>
  </div>
</div>
