<div class="container">
  <div class="row">
    <!-- FORM COLUMN -->
    <div class="col-md-12 col-lg-6 info-col">
      <div class="my-5">
        <img class="mb-5 info-img" src="assets/logo/dish_info.png" alt="" />
        <form #restoForm="ngForm" (ngSubmit)="updateForm()" class="mx-5">
          <!-- ROW 1 -->
          <div class="form-row">
            <!-- RESTAURANT NAME -->
            <div class="col-md-6 mb-3">
              <input
                type="text"
                placeholder="Naam"
                class="form-control"
                id="nameLabel"
                [(ngModel)]="restaurant.name"
                name="name"
                #restaurantName="ngModel"
                required
                minlength="3"
              />
              <div
                *ngIf="
                  restaurantName.invalid &&
                  (restaurantName.dirty || restaurantName.touched)
                "
                class="alert alert-danger"
              >
                <div *ngIf="restaurantName.errors.required">
                  Restaurantnaam is verplicht!
                </div>
                <div *ngIf="restaurantName.errors.minlength">
                  Restaurantnaam moet ten minste 3 letters bevatten!
                </div>
              </div>
            </div>
            <!-- KITCHEN TYPE -->
            <div class="col-md-6 mb-3">
              <select
                class="custom-select mr-sm-2"
                id="kitchenTypeLabel"
                [(ngModel)]="restaurant.type"
                name="kitchenType"
              >
                <option
                  *ngFor="let item of keys(kitchenTypes)"
                  [ngValue]="item"
                >
                  {{ kitchenTypes[item] }}
                </option>
              </select>
            </div>
          </div>
          <!-- ROW 2 -->
          <div class="form-row d-flex justify-content-start">
            <div class="col-md-5 mb-3">
              <input
                onkeypress="return (event.charCode === 69 ? null : event.charCode >= 48 && event.charCode <= 57)"
                id="max-capacity"
                placeholder="Maximum personen"
                type="number"
                class="form-control"
                [(ngModel)]="restaurant.maxCapacity"
                name="maxCapacity"
                #maxCapacity="ngModel"
                required
                min="1"
              />
              <div
                *ngIf="
                  maxCapacity.invalid &&
                  (maxCapacity.dirty || maxCapacity.touched)
                "
                class="alert alert-danger"
              >
                <div *ngIf="maxCapacity.errors.required">
                  Capaciteit is verplicht!
                </div>
              </div>
            </div>
          </div>
            <!-- ROW 3 -->
          <div class="form-row d-flex justify-content-start">
            <div class="col-md-12 mb-3">
                <textarea type="text" placeholder="Beschrijving" class="form-control" id="descriptionLabel"
                          [(ngModel)]="restaurant.description" #description="ngModel"
                          name="description" maxlength="255"></textarea>
              <div *ngIf="
                    description.invalid &&
                    (description.dirty || description.touched)
                  " class="alert alert-danger">
                <div *ngIf="description.errors.maxlength">
                  Bescrijving kan niet meer dan 255 letters bevatten!
                </div>
              </div>
            </div>
          </div>
            <!-- Button trigger Image modal -->
            <button type="button" class="btn btn-primary my-3" data-toggle="modal" data-target="#addressModal">
              Kies afbeelding
            </button>
            <h3>Adres</h3>
            <div class="row">
              <div class="container">
                <div class="form-row">
                  <!-- STREET -->
                  <div class="col-md-5 mb-3">
                    <input type="text" placeholder="Straat" class="form-control" id="street" #street = "ngModel" minlength="3"
                           [(ngModel)]="address.street" name="street" required/>
                    <div
                      *ngIf="street.invalid && (street.dirty || street.touched)"
                      class="alert alert-danger"
                    >
                      <div *ngIf="street.errors.required">
                        verplicht!
                      </div>
                      <div *ngIf="street.errors.minlength">
                        Minimum 3 letters!
                      </div>
                    </div>
                  </div>
                  <!-- NR -->
                  <div class="col-md-3 mb-3">
                    <input type="text" placeholder="Nr." class="form-control" id="number" #streetNumber = "ngModel" [(ngModel)]="address.bus"
                           name="bus" minlength="1"  required/>
                    <div
                      *ngIf="streetNumber.invalid && (streetNumber.dirty || streetNumber.touched)"
                      class="alert alert-danger"
                    >
                      <div *ngIf="streetNumber.errors.required">
                        verplicht!
                      </div>
                      <div *ngIf="streetNumber.errors.minlength">
                        Minimum 1 cijfer!
                      </div>
                    </div>
                  </div>
                  <!-- ZIPCODE -->
                  <div class="col-md-3 mb-3">
                    <input type="text" class="form-control" id="zipcode" [(ngModel)]="address.zipcode" #zipCode = "ngModel" name="zipcode" minlength="4" maxlength="4"
                           required/>
                    <div
                      *ngIf="zipCode.invalid && (zipCode.dirty || zipCode.touched)"
                      class="alert alert-danger"
                    >
                      <div *ngIf="zipCode.errors.required">
                        verplicht!
                      </div>
                      <div *ngIf="zipCode.errors.minlength">
                        Minimum 4 cijfers!
                      </div>
                      <div *ngIf="zipCode.errors.maxlength">
                        Minimum 4 cijfers!
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-row">
                  <!-- CITY -->
                  <div class="col-md-5 mb-3">
                    <input type="text" placeholder="Stad" class="form-control" id="city" #city="ngModel" [(ngModel)]="address.city"
                           name="city" minlength="2" required/>
                    <div
                      *ngIf="city.invalid && (city.dirty || city.touched)"
                      class="alert alert-danger"
                    >
                      <div *ngIf="city.errors.required">
                        verplicht!
                      </div>
                      <div *ngIf="city.errors.minlength">
                        Minimum 2 letters!
                      </div>
                    </div>
                  </div>
                  <!-- COUNTRY -->
                  <div class="col-md-3 mb-3">
                    <input type="text" placeholder="Land" class="form-control" id="country" #country="ngModel"
                           [(ngModel)]="address.country" name="country" minlength="3" required/>
                    <div
                      *ngIf="country.invalid && (country.dirty || country.touched)"
                      class="alert alert-danger"
                    >
                      <div *ngIf="country.errors.required">
                        verplicht!
                      </div>
                      <div *ngIf="country.errors.minlength">
                        Minimum 3 letters!
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          <div class="form-group">
            <div class="form-group">
              <!-- CHECKBOX PARKING -->
              <label class="checkbox-container text-white"
                >Parking aanwezig ?
                <input
                  type="checkbox"
                  value=""
                  id="hasParking"
                  name="parking"
                  ngModel
                  [(ngModel)]="restaurant.parking"
                  [ngModelOptions]="{ standalone: true }"
                />
                <span class="checkmark"></span>
              </label>
            </div>
          </div>
          <!-- BUTTONS -->
          <button *ngIf="!showRestoLoading" (click)="updateRestaurant()" type="submit" class="btn" [disabled]="!restoForm.valid || !isImageSelected">
            Updaten
          </button>
          <button *ngIf="showRestoLoading" class="btn" type="button" disabled>
            <span
              class="spinner-border spinner-border-sm"
              role="status"
              aria-hidden="true"
            ></span>
            Restaurant Updaten...
          </button>
        </form>
      </div>
    </div>

    <!-- TABLE -->
    <div class="col-md-12 col-lg-6 p-0 registration">
      <div class="text-center">
        <h2 class="py-5 text-white">Wijzig de openingsuren</h2>
        <table class="table table-sm mb-5">
          <thead class="thead-primary">
            <tr>
              <th>Dag</th>
              <th>Openingsuur</th>
              <th>Sluitingsuur</th>
              <th>Gesloten</th>
              <th class="text-center">Opties</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of openingHours">
              <td>{{ getDay(item.day.toString()) }}</td>
              <td *ngIf="!item.closed; else closed">{{ item.startHour }}</td>
              <td *ngIf="!item.closed; else closed">{{ item.endHour }}</td>
              <td *ngIf="item.closed; else open">
                <img src="assets/icons/closed_icon.png" alt="" />
              </td>
              <ng-template #open>
                <td><img src="assets/icons/open_icon.png" alt="" /></td>
              </ng-template>
              <ng-template #closed>
                <td>--------</td>
              </ng-template>
              <td class="text-center">
                <button
                  type="button"
                  class="btn btn-sm"
                  (click)="onUpdateHours(item)"
                  data-toggle="modal"
                  data-target="#hourModal"
                >
                  <img src="assets/icons/pencil_icon.png" alt="" />
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <img
        [hidden]="!isOpeningHourListLoading"
        class="burger-loader"
        src="assets/icons/hamburger_icon.png"
        alt=""
      />
    </div>
  </div>
</div>

<!-- HOUR MODAL -->
<div
  class="modal fade"
  id="hourModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalCenterHour"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5
          *ngIf="editOpeningHour.day"
          class="modal-title"
          id="exampleModalLongHour"
        >
          openingsuren wijzigen voor
          {{ getDay(editOpeningHour.day.toString()) }}
        </h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #editHourForm="ngForm">
          <div class="form-group" [hidden]="openingHour.closed">
            <label for="startHour">Openingsuur</label>
            <input
              id="startHour"
              type="time"
              name="openinghour"
              (change)="onHourChange()"
              [required]="!openingHour.closed"
              [(ngModel)]="editOpeningHour.startHour"
              class="form-control"
            />
          </div>

          <div class="form-group" [hidden]="openingHour.closed">
            <label for="endHour">Sluitingsuur</label>
            <input
              id="endHour"
              type="time"
              placeholder="Sluitingsuur"
              name="endHour"
              (change)="onHourChange()"
              [required]="!openingHour.closed"
              [(ngModel)]="editOpeningHour.endHour"
              class="form-control"
            />
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              [(ngModel)]="editOpeningHour.closed"
              name="isClosed"
              #isClosed="ngModel"
              value=""
            />

            <label>Gesloten?</label>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">
          Sluiten
        </button>
        <button
          [disabled]="!hoursAreValid"
          type="button"
          class="btn btn-primary"
          data-dismiss="modal"
          (click)="saveUpdateHour()"
        >
          Opslaan
        </button>
      </div>
    </div>
  </div>
</div>
<!-- END HOUR MODAL -->
<!-- IMAGES MODAL -->
<div
  class="modal fade"
  id="addressModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addressTitle">Kies Afbeelding</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div
            class="col col-dm-6 col-lg-3 mt-3"
            *ngFor="let item of arrayOne(12); let i = index"
          >
            <button
              id="image_button"
              type="button"
              class="img-container show"
              (click)="checkImage($event)"
            >
              <img
                class="bannerImage"
                src="assets/restaurants/restaurant{{ i + 1 }}.png"
                alt=""
              />
              <div id="restaurant{{ i + 1 }}" class="overlay">
                <img class="icon" src="assets/logo/check.png" alt="" />
              </div>
            </button>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn mr-1" data-dismiss="modal">
          Sluiten
        </button>
        <button
          type="button"
          class="btn ml-1"
          data-dismiss="modal"
          [disabled]="!isImageSelected"
        >
          Kies afbeelding
        </button>
      </div>
    </div>
  </div>
</div>
<button id="updateModalTrigger"
  type="button" [hidden]="true" class="btn btn-sm" data-toggle="modal" data-target="#updateRestoConfirm">
</button>
<!-- END IMAGES MODAL -->
<div class="modal fade" id="updateRestoConfirm" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
     aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Restaurant geüpdatet</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

        <div class="modal-body">
          <h3>Restaurant aangepast</h3>
        </div>
    </div>
  </div>
</div>
