<h3 class="text-primary" align="center">Overzicht Restauranten</h3>
<hr>
<div id="zoekfunctie" class="container bg-primary">
  <div class="row">
    <div class="col-4">
  <h3> {{title}}</h3>
  <input type="text" [(ngModel)]="queryString" id="search" placeholder="locatie">
    </div>
    <div class="col-4">
      <h3> {{title1}}</h3>
      <input type="text" [(ngModel)]="queryNameString" id="searchName" placeholder="restaurantnaam">
    </div>
    <div class="col-4">
      <h3> {{title2}}</h3>
      <input type="text" [(ngModel)]="queryTypeString" id="searchKitchen" placeholder="keuken">
    </div>
  </div>
</div>
<hr>

<div class="d-flex justify-content-center" *ngIf="showLoading">
    <div class="spinner-border text-primary p-3" role="status">
      <span class="sr-only">Loading...</span>
    </div>
</div>

<div *ngFor="let restaurant of allRestaurants | FilterPipe: queryString | FilterNamePipe: queryNameString | FilterTypePipe: queryTypeString">
    <div class="container">
        <div class="row">
            <div class="col-3">
                <img src=".\assets\restaurants\{{restaurant.image}}.png" alt="" width="100%">
            </div>
            <div class="col-3">
                <div class="row text-primary">
                    <h4>{{restaurant.name}}</h4>
                </div>
                <div class="row">
                    <div><b>Type keuken:</b> {{restaurant.type}}</div>
                </div>
                <div class="row">
                    <div><b>Capaciteit:</b> {{restaurant.maxCapacity}} stoelen</div>
                </div>
            </div>
            <div class="col-2">
                <h5>Rating: {{restaurant.rating.toFixed(2)}}</h5>
            </div>
            <div class="col-2">
                <div class="row"><h5>Adres:</h5>
                </div>
                <div class="row">
                    {{restaurant.address.street}} {{restaurant.address.bus}},
                </div>
                <div class="row">
                    {{restaurant.address.zipcode}} {{restaurant.address.city}}
                </div>
                <div class="row">
                    <p></p>
                </div>
                <div class="row">
                    <div *ngIf="restaurant.parking"><b>parking:</b> beschikbaar</div>
                    <div *ngIf="!restaurant.parking"><b>parking:</b> Niet beschikbaar</div>
                </div>
            </div>
            <div class="col-1">
            </div>
            <div class="col-1">
                <div class="row">
                    <button id="button" class="btn btn-primary" (click)="onSelect(restaurant)">Bekijk restaurant</button>
                </div>
            </div>
        </div>
    </div>
    <hr>
</div>
