#zoekfunctie {
    border-radius: 6px;
    color: white;
    padding: 1em;
    border-style: ridge;
    border-color: black;
    border-width: 3px;
}

#button {
    border-style: ridge;
    border-color: black;
    border-width: 3px;
}